# Vite Environment Variables (must start with VITE_)

# API Base URL
VITE_API_URL=http://localhost:3000/api

# OAuth URL
VITE_OMNIAUTH_42_URL=http://localhost:3000/auth/42

# Image CDN URL (e.g., TMDB)
VITE_IMAGE_URL=https://image.tmdb.org/t/p
