# Application
NODE_ENV=development
PORT=3000
CLIENT_URL=http://localhost:5173
OAUTH_CLIENT_REDIRECT_URL=http://localhost:5173/auth/oauth-callback

# Logging
ENABLE_REQUEST_LOGGING=true
LOG_LEVEL=debug

# MongoDB Configuration
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=driver
MONGO_INITDB_DATABASE=hypertube

# MongoDB Connection URI
MONGODB_URI=mongodb://admin:driver@mongo:27017/hypertube?authSource=admin
# MONGODB_URI=mongodb+srv://db_user:db_passwd@cluster0.egx2jqt.mongodb.net/test44?appName=Cluster0
# MONGODB_URI=mongodb://mongo:27017/hypertube

# Mongo Express Configuration
ME_CONFIG_MONGODB_ADMINUSERNAME=admin
ME_CONFIG_MONGODB_ADMINPASSWORD=driver
ME_CONFIG_MONGODB_URL=mongodb://admin:driver@mongo:27017/
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=admin123

# Session Configuration
SESSION_SECRET=your_session_secret_here

# JWT Configuration
JWT_ACCESS_SECRET=CHANGE_THIS_TO_A_SECURE_RANDOM_STRING_AT_LEAST_32_CHARS
JWT_REFRESH_SECRET=CHANGE_THIS_TO_A_DIFFERENT_SECURE_RANDOM_STRING
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=30d

# OAuth Configuration
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/oauth/google/callback

FORTYTWO_CLIENT_ID=your-42-client-id
FORTYTWO_CLIENT_SECRET=your-42-client-secret
FORTYTWO_CALLBACK_URL=http://localhost:3000/api/v1/oauth/42/callback

# Movie API Configuration
YTS_BASE_API_URL=https://movies-api.accel.li/api/v2
# YTS_BASE_API_URL=https://yts.bz/api/v2

TMDB_API_KEY=xxxx # Get it here: https://www.themoviedb.org/settings/api
TMDB_API_ACCESS_TOKEN=xxxx # Get it here: https://www.themoviedb.org/settings/api
OMDB_API_KEY=xxxx # Get it here: http://www.omdbapi.com/apikey.aspx

# OpenSubtitles Configuration
OPEN_SUBTITLES_API_URL=https://api.opensubtitles.com/api/v1
OPEN_SUBTITLES_USER_AGENT=hypertube v1.0
# Account 1 (account limited to 20 downloads per day)
OPEN_SUBTITLES_API_KEY=your_opensubtitles_api_key_here
OPEN_SUBTITLES_USERNAME=your_opensubtitles_username_here
OPEN_SUBTITLES_PASSWORD=your_opensubtitles_password_here
# Account 2
# OPEN_SUBTITLES_API_KEY=your_opensubtitles_api_key_here
# OPEN_SUBTITLES_USERNAME=your_opensubtitles_username_here
# OPEN_SUBTITLES_PASSWORD=your_opensubtitles_password_here

# Torrent & Scraper Configuration
RUN_SCRAPER_INTEGRATION=false
SCRAPER_INTERVAL_MINUTES=30
DOWNLOADS_PATH=./downloads
MAX_CONCURRENT_DOWNLOADS=3
TORRENT_DOWNLOAD_TIMEOUT_MS=300000

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-mail-user
EMAIL_PASS=your-mail-password
# EMAIL_USER=your-other-mail-user
# EMAIL_PASS=your-other-mail-password
